build/index.html
<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<!--meta(name='viewport', content='width=device-width, initial-scale=1.0')-->
		<meta data-n-head="true" name="theme-color" content="#cb7632">
		<title>Tet task</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;amp;subset=cyrillic-ext" rel="stylesheet">
		<link rel="stylesheet" href="css/styles.min.css">
	</head>
	<body>
		<div class="wrapper">
			<!--header.header-->
			<main class="main">
				<form class="form-page" action="">
					<div class="form-page__inner"><a class="logo form-page__logo" href="#"><img srcset="./images/logo.png 1x, ./images/logo@2x.png 2x" alt="logo"></a><a class="btn-menu" href="#">
							<div class="btn-menu__item"></div>
							<div class="btn-menu__item"></div>
							<div class="btn-menu__item"></div></a>
						<div class="form-page__helper">Все поля обязательны для заполнения</div>
						<div class="form-step">
							<div class="form-step__inner">
								<div class="form-step__item form-step__item--active">1</div>
								<div class="form-step__item">2</div>
								<div class="form-step__item">3</div>
							</div>
						</div>
						<ul class="form-data">
							<li class="form-data__item form-data__item--active form-data__item--step_1">
								<div class="form-data__cell">
									<div class="form-data__info">
										<div class="info-form" style="background-image: url(./images/img1.png);">
											<div class="info-form__inner">
												<div class="info-form__title">Всего три простых шага для получения бонусов!</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-data__cell">
									<div class="form">
										<div class="form__data">
											<div class="form__item">
												<input class="form__input" type="text" placeholder="Фамилия" name="family"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="form__input" type="text" placeholder="Имя" name="name"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="form__input" type="text" placeholder="Отчество" name="lastName"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item radio-data">
												<div class="radio-data__item">
													<input class="form__radio" type="radio" name="gender" id="gender__male" value="0">
													<label class="form__radio-label" for="gender__male">Мужчина</label>
												</div>
												<div class="radio-data__item">
													<input class="form__radio" type="radio" name="gender" id="gender__female" value="1">
													<label class="form__radio-label" for="gender__female">Женщина</label>
												</div><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="form__input" type="text" placeholder="Дата рождения" name="birthday"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item check-data">
												<div class="check-data__item">
													<input class="form__check" type="checkbox" name="agreement" id="agreement" value="1">
													<label class="form__check-label" for="agreement">Соглашаюсь с условиями участия</label>
												</div><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item"><a class="btn js--go-next-step" href="#"><span>Продолжить</span></a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="form-data__item form-data__item--step_2">
								<div class="form-data__cell">
									<div class="form-data__info">
										<div class="info-form" style="background-image: url(./images/img2.png);">
											<div class="info-form__inner">
												<div class="info-form__title">Половина пути уже пройдена</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-data__cell">
									<div class="form">
										<div class="form__data">
											<div class="form__item">
												<input class="form__input" type="tel" placeholder="Телефон" name="phone"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="form__input" type="text" placeholder="Email" name="emailAdress"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="form__input" type="password" placeholder="Пароль" name="password"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="form__input" type="password" placeholder="Повторите пароль" name="passwordRepeat"><span class="help-block">Это поле обязательное для заполнения</span>
											</div>
											<div class="form__item"><a class="btn js--go-next-step" href="#"><span>Продолжить</span></a></div>
										</div>
									</div>
								</div>
							</li>
							<li class="form-data__item form-data__item--step_3">
								<div class="form-data__cell">
									<div class="form-data__info">
										<div class="info-form" style="background-image: url(./images/img3.png);">
											<div class="info-form__inner">
												<div class="info-form__title">Осталось совсем чуть-чуть </div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-data__cell">
									<div class="form">
										<div class="form__title">
											На номер <a href="tel:+375293334455"> +375293334455 </a>
											 отправлен код подтверждения
										</div>
										<div class="form__subtitle">Введите его в поле ниже:</div>
										<div class="form__data">
											<div class="form__item">
												<input class="form__input" type="text" placeholder="Код" name="key" required><span class="help-block">это поле обязательное для заполнения</span>
											</div>
											<div class="form__item">
												<input class="btn btn-form" type="submit" value="Присоедениться"><span class="help-block">Отправить код еще раз</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</form>
			</main>
			<!--footer.footer-->
		</div>
		<script src="js/vendor/jquery-3.2.1.min.js"></script>
		<script src="js/app.min.js"></script>
	</body>
</html>

src/pages/index.pug
extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Tet task'
    - var dir = ''

block main
    main.main
        form(action='').form-page
            .form-page__inner
                a(href="#").logo.form-page__logo
                    img(srcset="./images/logo.png 1x, ./images/logo@2x.png 2x" , alt='logo')
                a(href="#").btn-menu
                    .btn-menu__item
                    .btn-menu__item
                    .btn-menu__item
                .form-page__helper Все поля обязательны для заполнения
                .form-step
                    .form-step__inner
                        .form-step__item.form-step__item--active 1
                        .form-step__item 2
                        .form-step__item 3
                ul.form-data
                    li.form-data__item.form-data__item--active.form-data__item--step_1
                        .form-data__cell
                            .form-data__info
                                +info-form("Всего три простых шага для получения бонусов!", 'img1',"")
                        .form-data__cell
                            .form
                                .form__data
                                    .form__item
                                        input(type='text', placeholder='Фамилия', name="family").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        input(type='text', placeholder='Имя', name="name").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        input(type='text', placeholder='Отчество', name="lastName").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item.radio-data
                                        .radio-data__item
                                            input(type='radio', name="gender" id="gender__male" value="0").form__radio
                                            label(for="gender__male").form__radio-label Мужчина
                                        .radio-data__item
                                            input(type='radio', name="gender" id="gender__female" value="1").form__radio
                                            label(for="gender__female").form__radio-label Женщина
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        input(type='text', placeholder='Дата рождения', name="birthday").form__input
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item.check-data
                                        .check-data__item
                                            input(type='checkbox', name="agreement" id="agreement" value="1").form__check
                                            label(for="agreement").form__check-label Соглашаюсь с условиями участия
                                        span.help-block Это поле обязательное для заполнения
                                    .form__item
                                        a(href="#").btn.js--go-next-step
                                            span Продолжить
                    li.form-data__item.form-data__item--step_2
                        .form-data__cell
                            .form-data__info
                                +info-form("Половина пути уже пройдена", 'img2', "")
                        .form-data__cell
                            .form
                                .form__data
                                    .form__item
                                        input(type='tel', placeholder='Телефон', name="phone").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        input(type='text', placeholder='Email', name="emailAdress").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        input(type='password', placeholder='Пароль', name="password").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        input(type='password', placeholder='Повторите пароль', name="passwordRepeat").form__input
                                        span.help-block Это поле обязательное для заполнения

                                    .form__item
                                        a(href="#").btn.js--go-next-step
                                            span Продолжить
                    li.form-data__item.form-data__item--step_3
                        .form-data__cell
                            .form-data__info
                                +info-form("Осталось совсем чуть-чуть ", 'img3', "")
                        .form-data__cell
                            .form
                                .form__title.
                                    На номер <a href="tel:+375293334455"> +375293334455 </a>
                                     отправлен код подтверждения
                                .form__subtitle Введите его в поле ниже:
                                .form__data
                                    .form__item
                                        input(type='text', placeholder='Код', name="key" required).form__input
                                        span.help-block это поле обязательное для заполнения
                                    .form__item
                                        input(type="submit" value="Присоедениться", class="btn btn-form")
                                        span.help-block Отправить код еще раз

block script
